<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="hoon" class="com.test02.BirthDto">
		<constructor-arg value="킹명훈"></constructor-arg>
		<constructor-arg value="1월1일"></constructor-arg>
	</bean>
	
	<bean id="kim" class="com.test02.BirthDto">
		<property name="name" value="김용범"></property>
		<property name="birth" value="941126"></property>
	</bean>
	
</beans>
