<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- MessageBeanEn bean01 = new MessageBeanEn(); 같은형태? -->
	<bean id="bean01" class="com.test03.MessageBeanEn"></bean>
	<bean id="bean02" class="com.test03.MessageBeanKo"></bean>

</beans>
